.conteiner .div_kozina_content {
  width: 80%;
  margin: 0 auto;
  display: flex;
  gap: 2%;
  justify-content: space-between;
  .o_zakaz_karzina {
    width: 70%;
    border: 1px solid transparent;
    display: flex;
    flex-direction: column;
    gap: 4vh;
    .o_zakaz_karzina_box {
      display: flex;
      border: 1px solid transparent;
      border-radius: 15px;
      box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
      .box_korzina_img {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .box_korzina_text {
        width: 70%;
        h4 {
          padding-top: 4%;
          font-weight: 500;
          font-size: 24px;
          line-height: 29px;
          color: #000000;
        }
        p {
          font-weight: 600;
          font-size: 24px;
          line-height: 29px;
          color: #00ac73;
          padding-top: 2%;
          padding-bottom: 4%;
        }
        button {
          width: 50px;
          height: 50px;
          border-radius: 15px;
          font-size: 25px;
          cursor: pointer;
          align-items: center;
          border: 1px solid;
        }

        span {
          font-size: 24px;
          padding: 0 4%;
        }
      }
    }
  }

  .ofarmleniya_korzina1 {
    width: 30%;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    padding: 2%;
    border-radius: 15px;
    display: none;
    height: 50%;
    .oformlBTn{
        font-weight: 400;
        font-size: x;
        line-height: 24px;
        margin: 0 auto;
        color: #ffffff;
        background-color: #00ac73;
        padding: 18px;
        border-radius: 15px;
        transition: 0.5s linear all;
        &:hover {
          background-color: #fefefe;
          color: #000000;
          border: 1px solid #00ac73;}}
   
    .div_ofarmleniya {
      display: flex;
      justify-content: space-between;
      .box_ofarmleniya {
        p {
          font-weight: 400;
          font-size: 20px;
          line-height: 24px;
          color: #000000;
          padding-bottom: 4%;
        }
    }
    .box2_oformleniya {
        p {
            padding-bottom: 4%;
          font-weight: 500;
          font-size: 20px;
          line-height: 24px;
          color: #000000;
        }
      }
    }
  }
  .ofarmleniya_korzina {
    width: 30%;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    padding: 2%;
    border-radius: 15px;
    height: 50%;
    .oformlBTn{
        font-weight: 400;
        font-size: x;
        line-height: 24px;
        margin: 0 auto;
        color: #ffffff;
        background-color: #00ac73;
        padding: 18px;
        border-radius: 15px;
        transition: 0.5s linear all;
        &:hover {
          background-color: #fefefe;
          color: #000000;
          border: 1px solid #00ac73;}}
   
    .div_ofarmleniya {
      display: flex;
      justify-content: space-between;
      .box_ofarmleniya {
        p {
          font-weight: 400;
          font-size: 20px;
          line-height: 24px;
          color: #000000;
          padding-bottom: 4%;
        }
    }
    .box2_oformleniya {
        p {
            padding-bottom: 4%;
          font-weight: 500;
          font-size: 20px;
          line-height: 24px;
          color: #000000;
        }
      }
    }
  }
}
.conteiner .registration2 {
    transform: translateX(0%);
    transition: .8s linear;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 1%;
    z-index: 1000;
    margin: 0 auto;
    backdrop-filter: blur(100px);
    padding-bottom: 2%;
    border-radius: 15px;
    a{
      cursor: pointer;
    }
    .div_podverjdeniya {
      display: none;
      width: 24%;
      margin: 0 auto;
      border: 1px solid transparent;
      padding: 6% 2%;
      border-radius: 15px;
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.12);
      border-radius: 15px;
      text-align: center;
      h3 {
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        text-align: center;
        color: #000000;
        padding-bottom: 6%;
      }
      
      input {
        width: 22%;
        padding: 6% 0;
        margin: 0 auto;
        font-size: 22px;
        text-align: center;
        border-radius: 15px;
        border: transparent;
        background-color: #fff;
        &:hover {
          background-color: #ffffff;
        }
      }
      .div__text_otp {
        span {
          font-weight: 400;
          font-size: 14px;
          line-height: 22px;
          text-align: center;
          color: rgba(0, 0, 0, 0.35);
        }
        a {
          font-weight: 400;
          font-size: 14px;
          line-height: 22px;
          text-align: center;
          color: #00ac73;
        }
      }
      .podverjdenie {
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        margin: 0 auto;
        color: #ffffff;
        background-color: #00ac73;
        padding: 20px 60px;
        border-radius: 15px;
        transition: 0.5s linear all;
        &:hover {
          background-color: #fefefe;
          color: #000000;
          border: 1px solid #00ac73;
        }
      }
    }
    h1 {
      padding-top: 4%;
      padding-bottom: 2%;
      text-align: center;
      font-weight: 700;
      font-size: 60px;
      line-height: 57px;
      color: #000000;
    }
    i {
      font-size: 40px;
      position: relative;
      left: 80%;
      top: 1%;
      cursor: pointer;
    }
    .registration_box {
      width: 25%;
      border: 1px solid transparent;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding: 2%;
      border-radius: 15px;
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.12);
      border-radius: 15px;
      top: 1%;
      a{
        cursor: pointer;
      }
      .registration_btn {
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        margin: 0 auto;
        color: #ffffff;
        background-color: #00ac73;
        padding: 20px 60px;
        border-radius: 15px;
        transition: 0.5s linear all;
        &:hover {
          background-color: #fefefe;
          color: #000000;
          border: 1px solid #00ac73;
        }
      }
      label {
        padding-bottom: 1%;
        strong {
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          color: #000000;
        }
      }
      input {
        padding: 14px 0;
        padding-left: 1%;
        border-radius: 15px;
        border: 1px solid #7e7e7e;
      }
    }
  }
  
  .conteiner .registration {
    transform: translateX(-400%);
    transition: 1s linear;
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 1000;
    margin: 0 auto;
    backdrop-filter: blur(100px);
    padding-bottom: 2%;
    border-radius: 15px;
    h1 {
      padding-top: 4%;
      padding-bottom: 2%;
      text-align: center;
      font-weight: 700;
      font-size: 60px;
      line-height: 57px;
      color: #000000;
    }
    i {
      font-size: 40px;
      position: relative;
      left: 80%;
      top: 1%;
      cursor: pointer;
    }
    .registration_box {
      width: 25%;
      border: 1px solid transparent;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding: 2%;
      border-radius: 15px;
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.12);
      border-radius: 15px;
      .registration_btn {
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        margin: 0 auto;
        color: #ffffff;
        background-color: #00ac73;
        padding: 20px 60px;
        border-radius: 15px;
        transition: 0.5s linear all;
        &:hover {
          background-color: #fefefe;
          color: #000000;
          border: 1px solid #00ac73;
        }
      }
      label {
        padding-bottom: 1%;
        strong {
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          color: #000000;
        }
      }
      input {
        padding: 14px 0;
        padding-left: 1%;
        border-radius: 15px;
        border: 1px solid #7e7e7e;
      }
    }
  }
  .conteiner .voyti2 {
    transform: translateY(0%);
    transition: 0.8s linear;
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    backdrop-filter: blur(100px);
    padding-bottom: 4%;
    border-radius: 15px;
    h1 {
      padding-top: 4%;
      padding-bottom: 2%;
      text-align: center;
      font-weight: 700;
      font-size: 60px;
      line-height: 57px;
      color: #000000;
    }
    i{
      font-size: 40px;
      position: relative;
      left: 80%;
      top: 1%;
      cursor: pointer;
    }
    .voyti_box {
      width: 25%;
      border: 1px solid transparent;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding: 2%;
      border-radius: 15px;
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.12);
      border-radius: 15px;
      .voyti_btn {
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        margin: 0 auto;
        color: #ffffff;
        background-color: #00ac73;
        padding: 20px 60px;
        border-radius: 15px;
        transition: 0.5s linear all;
        &:hover {
          background-color: #fefefe;
          color: #000000;
          border: 1px solid #00ac73;
        }
      }
      label {
        padding-bottom: 1%;
        strong {
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          color: #000000;
        }
      }
      input {
        padding: 14px 0;
        padding-left: 1%;
        border-radius: 15px;
        border: 1px solid #7e7e7e;
      }
      .div__chekbox__zapil_parol {
        padding-top: 2%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .div__chekbox {
          display: flex;
          justify-content: flex-start;
        }
      }
    }
  }
  .conteiner .voyti {
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    backdrop-filter: blur(100px);
    padding-bottom: 4%;
    transform: translateY(-200%);
    border-radius: 15px;
    h1 {
      padding-top: 4%;
      padding-bottom: 2%;
      text-align: center;
      font-weight: 700;
      font-size: 60px;
      line-height: 57px;
      color: #000000;
    }
    i{
      font-size: 40px;
      position: relative;
      left: 80%;
      top: 1%;
      cursor: pointer;
      
    }
    .voyti_box {
      width: 25%;
      border: 1px solid transparent;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding: 2%;
      border-radius: 15px;
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.12);
      border-radius: 15px;
      .voyti_btn {
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        margin: 0 auto;
        color: #ffffff;
        background-color: #00ac73;
        padding: 20px 60px;
        border-radius: 15px;
        transition: 0.5s linear all;
        &:hover {
          background-color: #fefefe;
          color: #000000;
          border: 1px solid #00ac73;
        }
      }
      label {
        padding-bottom: 1%;
        strong {
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          color: #000000;
        }
      }
      input {
        padding: 14px 0;
        padding-left: 1%;
        border-radius: 15px;
        border: 1px solid #7e7e7e;
      }
      .div__chekbox__zapil_parol {
        padding-top: 2%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .div__chekbox {
          display: flex;
          justify-content: flex-start;
        }
      }
    }
  }
