.conteiner {
  .onas__div {
    width: 77%;
    margin: 0 auto;
    border: 1px solid transparent;
    padding: 2%;
    padding-bottom: 5%;
    .text__onas__head {
      text-align: center;
      h2 {
        font-weight: 700;
        font-size: 60px;
        line-height: 57px;
        color: #000000;
        padding: 3%;
      }
    }
    .img__text__onas {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      gap: 1%;
      .img__onas {
        position: relative;
        width: 40%;
        height: 90%;
        img {
          width: 100%;
          height: 100%;
        }
        .onas_img2 {
          position: absolute;
          left: 14%;
          top: 14%;
          border-radius: 25px;
        }
      }
      .text__onas {
        width: 40%;
        h3 {
          width: 90%;
          font-weight: 600;
          font-size: 25px;
          line-height: 29px;
          color: #000000;
        }
        h4 {
          font-weight: 400;
          font-size: 24px;
          line-height: 29px;
          color: #000000;
        }
        p {
          font-weight: 400;
          font-size: 20px;
          line-height: 24px;
          color: #7e7e7e;
        }
      }
    }
  }
  .diw_programm {
    margin-top: 50px;
    width: 79%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #00504D;
    border-radius: 30px;
    .diw__program_text{
      width: 70%;
      padding: 1%;
      h2 {
        font-style: normal;
        font-weight: 700;
        font-size: 35px;
        text-align: center;
        color: #ffffff;
      }
      .diw__programm_img{
        width: 25%;
        img{
          width: 100%;
        }
      }

    }
    
  }
}
