.conteiner .content_zak1 .content__pokupok {
  background-color: #fff;
  .div_pokupok_podrobne {
    width: 100%;
    padding-top: 5%;
    text-align: center;
    a {
      border: 1px solid transparent;
      font-weight: 400;
      font-size: 20px;
      line-height: 24px;
      color: #fff;
      padding: 18px 50px;
      border-radius: 15px;
      background-color: #00ac73;
      transition: 0.5s linear all;
      &:hover {
        background-color: #fff;
        color: #00ac73;
        border: 1px solid #000000;
      }
    }
    h2 {
      padding-top: 5%;
      padding-bottom: 4%;
      font-weight: 700;
      font-size: 60px;
      line-height: 57px;
      color: #000000;
    }
  }
  .content__pokupok_center {
    width: 78%;
    height: auto;
    border: 1px solid transparent;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5vw;
    .content_pokupok__box {
      width: 23%;
      height: 350px;
      border: 1px solid transparent;
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.12);
      border-radius: 30px;
      p {
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
        color: #7e7e7e;
        padding: 2%;
      }
      .pokupok_price {
        font-weight: 240px;
        font-size: 22px;
        line-height: 27px;
        color: #00ac73;
        padding-left: 2%;
        position: relative;
        top: 10%;
      }
      .pokupok_img {
        width: 100%;
        height: 55%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        img {
          transition: .5s all linear;
          width: 80%;
        }
      }
    }
  }

}
