.conteiner .registration2 {
  transform: translateX(0%);
  transition: .8s linear;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 1%;
  z-index: 1000;
  margin: 0 auto;
  backdrop-filter: blur(100px);
  padding-bottom: 2%;
  border-radius: 15px;
  a{
    cursor: pointer;
  }
  .div_podverjdeniya {
    display: none;
    width: 24%;
    margin: 0 auto;
    border: 1px solid transparent;
    padding: 6% 2%;
    border-radius: 15px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.12);
    border-radius: 15px;
    text-align: center;
    h3 {
      font-weight: 700;
      font-size: 24px;
      line-height: 29px;
      text-align: center;
      color: #000000;
      padding-bottom: 6%;
    }
    
    input {
      width: 22%;
      padding: 6% 0;
      margin: 0 auto;
      font-size: 22px;
      text-align: center;
      border-radius: 15px;
      border: transparent;
      background-color: #fff;
      &:hover {
        background-color: #ffffff;
      }
    }
    .div__text_otp {
      span {
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        text-align: center;
        color: rgba(0, 0, 0, 0.35);
      }
      a {
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        text-align: center;
        color: #00ac73;
      }
    }
    .podverjdenie {
      font-weight: 400;
      font-size: 20px;
      line-height: 24px;
      margin: 0 auto;
      color: #ffffff;
      background-color: #00ac73;
      padding: 20px 60px;
      border-radius: 15px;
      transition: 0.5s linear all;
      &:hover {
        background-color: #fefefe;
        color: #000000;
        border: 1px solid #00ac73;
      }
    }
  }
  h1 {
    padding-top: 4%;
    padding-bottom: 2%;
    text-align: center;
    font-weight: 700;
    font-size: 60px;
    line-height: 57px;
    color: #000000;
  }
  i {
    font-size: 40px;
    position: relative;
    left: 80%;
    top: 1%;
    cursor: pointer;
  }
  .registration_box {
    width: 25%;
    border: 1px solid transparent;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 2%;
    border-radius: 15px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.12);
    border-radius: 15px;
    top: 1%;
    a{
      cursor: pointer;
    }
    .registration_btn {
      font-weight: 400;
      font-size: 20px;
      line-height: 24px;
      margin: 0 auto;
      color: #ffffff;
      background-color: #00ac73;
      padding: 20px 60px;
      border-radius: 15px;
      transition: 0.5s linear all;
      &:hover {
        background-color: #fefefe;
        color: #000000;
        border: 1px solid #00ac73;
      }
    }
    label {
      padding-bottom: 1%;
      strong {
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        color: #000000;
      }
    }
    input {
      padding: 14px 0;
      padding-left: 1%;
      border-radius: 15px;
      border: 1px solid #7e7e7e;
    }
  }
}

.conteiner .registration {
  transform: translateX(-400%);
  transition: 1s linear;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 1000;
  margin: 0 auto;
  backdrop-filter: blur(100px);
  padding-bottom: 2%;
  border-radius: 15px;
  h1 {
    padding-top: 4%;
    padding-bottom: 2%;
    text-align: center;
    font-weight: 700;
    font-size: 60px;
    line-height: 57px;
    color: #000000;
  }
  i {
    font-size: 40px;
    position: relative;
    left: 80%;
    top: 1%;
    cursor: pointer;
  }
  .registration_box {
    width: 25%;
    border: 1px solid transparent;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 2%;
    border-radius: 15px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.12);
    border-radius: 15px;
    .registration_btn {
      font-weight: 400;
      font-size: 20px;
      line-height: 24px;
      margin: 0 auto;
      color: #ffffff;
      background-color: #00ac73;
      padding: 20px 60px;
      border-radius: 15px;
      transition: 0.5s linear all;
      &:hover {
        background-color: #fefefe;
        color: #000000;
        border: 1px solid #00ac73;
      }
    }
    label {
      padding-bottom: 1%;
      strong {
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        color: #000000;
      }
    }
    input {
      padding: 14px 0;
      padding-left: 1%;
      border-radius: 15px;
      border: 1px solid #7e7e7e;
    }
  }
}
