.conteiner .voyti2 {
  transform: translateY(-50%);
  transition: 0.8s linear;
  position: absolute;
  z-index: 1010;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  backdrop-filter: blur(100px);
  padding-bottom: 4%;
  border-radius: 15px;
  h1 {
    padding-top: 4%;
    padding-bottom: 2%;
    text-align: center;
    font-weight: 700;
    font-size: 60px;
    line-height: 57px;
    color: #000000;
  }
  i{
    font-size: 40px;
    position: relative;
    left: 80%;
    top: 1%;
    cursor: pointer;
  }
  .voyti_box {
    width: 25%;
    border: 1px solid transparent;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 2%;
    border-radius: 15px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.12);
    border-radius: 15px;
    .voyti_btn {
      font-weight: 400;
      font-size: 20px;
      line-height: 24px;
      margin: 0 auto;
      color: #ffffff;
      background-color: #00ac73;
      padding: 20px 60px;
      border-radius: 15px;
      transition: 0.5s linear all;
      &:hover {
        background-color: #fefefe;
        color: #000000;
        border: 1px solid #00ac73;
      }
    }
    label {
      padding-bottom: 1%;
      strong {
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        color: #000000;
      }
    }
    input {
      padding: 14px 0;
      padding-left: 1%;
      border-radius: 15px;
      border: 1px solid #7e7e7e;
    }
    .div__chekbox__zapil_parol {
      padding-top: 2%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .div__chekbox {
        display: flex;
        justify-content: flex-start;
      }
    }
  }
}
.conteiner .voyti {
 position: absolute;
  z-index: 1010;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  backdrop-filter: blur(100px);
  padding-bottom: 4%;
  transform: translateY(-200%);
  border-radius: 15px;
  h1 {
    padding-top: 4%;
    padding-bottom: 2%;
    text-align: center;
    font-weight: 700;
    font-size: 60px;
    line-height: 57px;
    color: #000000;
  }
  i{
    font-size: 40px;
    position: relative;
    left: 80%;
    top: 1%;
    cursor: pointer;
    
  }
  .voyti_box {
    width: 25%;
    border: 1px solid transparent;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 2%;
    border-radius: 15px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.12);
    border-radius: 15px;
    .voyti_btn {
      font-weight: 400;
      font-size: 20px;
      line-height: 24px;
      margin: 0 auto;
      color: #ffffff;
      background-color: #00ac73;
      padding: 20px 60px;
      border-radius: 15px;
      transition: 0.5s linear all;
      &:hover {
        background-color: #fefefe;
        color: #000000;
        border: 1px solid #00ac73;
      }
    }
    label {
      padding-bottom: 1%;
      strong {
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        color: #000000;
      }
    }
    input {
      padding: 14px 0;
      padding-left: 1%;
      border-radius: 15px;
      border: 1px solid #7e7e7e;
    }
    .div__chekbox__zapil_parol {
      padding-top: 2%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .div__chekbox {
        display: flex;
        justify-content: flex-start;
      }
    }
  }
}
